<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学历相关</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        body {
            color: black;
        }
    </style>
</head>
<body onload="load()">
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/img/Logo_black.svg" width="168" height="35" class="d-inline-block align-top" alt="jobSpider">
        </a>
        <div class="link_group">
            <a href="{{ url_for('salary') }}" class="nav_link">薪资</a>
            <a href="{{ url_for('district') }}" class="nav_link">地域</a>
            <a href="{{ url_for('industry') }}" class="nav_link">行业</a>
            <a href="{{ url_for('skills') }}" class="nav_link">技能</a>
            <a href="{{ url_for('diploma') }}" class="nav_link active">学历</a>
            <a href="{{ url_for('welfare') }}" class="nav_link">福利</a>
        </div>
    </nav>
    <div class="content">
        <div class="hero">
            <h1 class="font-type-blue">print<span class="font-black">(</span>'学历相关'<span class="font-black">)</span></h1>
            <div class="text">
                <p>学历的高低影响择业的范围。学历是就业的敲门砖，大多数公司企业对于应聘者的学历都有明确规定，这也是应聘的最基本的要求。以下是十种不同编程语言所属行业、所需经验、学历，以及所在城市和薪资水平的关系图。</p>
                <p>轻按标签即可阅读所属标签图表。首次加载速度会较长，请耐心等待。</p>
                <!-- <p>*本报告所有数据来自上述招聘网站的公开数据，与真实的市场需求有可能存在偏差，结论仅供参考。</p> -->
            </div>
        </div>
        <div class="section">
            <h3>编程语言要求学历与薪资水平关系图</h3>
            <ul class="tags" id="tag1">
                <div class="btn_row">
                    <li><a href="###" class="button">C#</a></li>
                    <li><a href="###" class="button">C++</a></li>
                    <li><a href="###" class="button">HTML+CSS</a></li>
                    <li><a href="###" class="button">Java</a></li>
                    <li><a href="###" class="button">JavaScript</a></li>
                </div>
                <div class="btn_row">
                    <li><a href="###" class="button">PHP</a></li>
                    <li><a href="###" class="button">Python</a></li>
                    <li><a href="###" class="button">Ruby</a></li>
                    <li><a href="###" class="button">Swift</a></li>
                    <li><a href="###" class="button">TypeScript</a></li>
                </div>
            </ul>
            <div class="figure">
                <div id="LSQ2" class="chart"></div>
                <div class="caption">
                    <p class="text">一般情况下，学历越高，平均工资越高。在北上广深四个城市中，不同城市对不同计算机语言的需要不一，尽管在同一语言、同一学历下，个别城市平均工资差别较大，但学历在本科以上的平均工资都在10K以上（个别除外）。此外，近年来专科院校计算机人才也备受青睐，个别语言专科的平均工资甚至与本科的持平。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="next_chapter">
        <a href="{{ url_for('welfare') }}">
            <h3 class="chap_overtext font-white">下一部分</h3>
            <h2 class="chap_title font-type-blue">print<span class="font-white">(</span>'福利相关'<span
                    class="font-white">)</span></h2>
        </a>
    </div>

    <script>
        var nodeList = document.getElementsByTagName('li');
        for (var i = 0; i < nodeList.length; i++) {
            (function (j) {
                nodeList[j].addEventListener("click", function (e) {
                    console.log(e.target.innerText)
                    LSQ2(e.target.innerText)
                }, false);
            })(i);
        }
        function LSQ2(lang) {
                var chart = echarts.init(document.getElementById('LSQ2'), 'white', { renderer: 'canvas' });
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:5000/LSQ2",
                    data: "lang=" + encodeURIComponent(lang),
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
        };
        function load() {
            LSQ2("C#")
        }
    </script>
</body>
</html>