<html>
<head>
    <meta charset="UTF-8">
    <title>行业领域</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="css/styles.css"> 
    <style>
        body {
            color: black;
        }
    </style>
</head>

<body onload="load()">
    <!--onload事件-->
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/img/Logo_black.svg" width="168" height="35" class="d-inline-block align-top"
                alt="jobSpider">
        </a>
        <div class="link_group">
            <a href="{{ url_for('salary') }}" class="nav_link">薪资</a>
            <a href="{{ url_for('district') }}" class="nav_link">地域</a>
            <a href="{{ url_for('industry') }}" class="nav_link active">行业</a>
            <a href="{{ url_for('skills') }}" class="nav_link">技能</a>
            <a href="{{ url_for('diploma') }}" class="nav_link">学历</a>
            <a href="{{ url_for('welfare') }}" class="nav_link">福利</a>
        </div>
    </nav>
    <div class="content">
        <div class="hero">
            <h1 class="font-type-blue">print<span class="font-black">(</span>'行业领域'<span class="font-black">)</span></h1>
            <div class="text">
                <p>不同的编程语言会应用到不同的行业领域中去。以下是编程语言与各行各业的关系图表。</p>
                <p>轻按标签即可阅读所属标签图表。首次加载速度会较长，请耐心等待。</p>
                <!-- <p>*本报告所有数据来自上述招聘网站的公开数据，与真实的市场需求有可能存在偏差，结论仅供参考。</p> -->
            </div>
        </div>

        <div class="section">
            <h3>编程语言在各地区各行业的分布关系图</h3>
            <ul class="tags" id="tag4">
                <div class="btn_row">
                    <li><a href="###" class="button">C#</a></li>
                    <li><a href="###" class="button">C++</a></li>
                    <li><a href="###" class="button">HTML+CSS</a></li>
                    <li><a href="###" class="button">Java</a></li>
                    <li><a href="###" class="button">JavaScript</a></li>
                </div>
                <div class="btn_row">
                    <li><a href="###" class="button">PHP</a></li>
                    <li><a href="###" class="button">Python</a></li>
                    <li><a href="###" class="button">Ruby</a></li>
                    <li><a href="###" class="button">Swift</a></li>
                    <li><a href="###" class="button">TypeScript</a></li>
                </div>
            </ul>
            <div class="figure">
                <div id="LZX1" class="chart"></div>
                <div class="caption">
                    <p class="text">hello, world!</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h3>编程语言热门岗位TOP10关系图</h3>
            <ul class="tags" id="tag5">
                <div class="btn_row">
                    <li><a href="###" class="button">C#</a></li>
                    <li><a href="###" class="button">C++</a></li>
                    <li><a href="###" class="button">HTML+CSS</a></li>
                    <li><a href="###" class="button">Java</a></li>
                    <li><a href="###" class="button">JavaScript</a></li>
                </div>
                <div class="btn_row">
                    <li><a href="###" class="button">PHP</a></li>
                    <li><a href="###" class="button">Python</a></li>
                    <li><a href="###" class="button">Ruby</a></li>
                    <li><a href="###" class="button">Swift</a></li>
                    <li><a href="###" class="button">TypeScript</a></li>
                </div>
            </ul>
            <div class="figure">
                <div id="funnel" class="chart"></div>
                <div class="caption">
                    <p class="text">hello, world!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="next_chapter">
        <a href="{{ url_for('skills') }}">
            <h3 class="chap_overtext font-white">下一部分</h3>
            <h2 class="chap_title font-type-blue">print<span class="font-white">(</span>'技能相关'<span class="font-white">)</span></h2>
        </a>
    </div>
    <script>
        var oTab5 = document.getElementById("tag4");
        var nodeList5 = oTab5.children;
        for (var i = 0; i < nodeList5.length; i++) {
            (function (j) {
                nodeList5[j].addEventListener("click", function (e) {
                    console.log(e.target.innerText)
                    LZX1(e.target.innerText)
                }, false);
            })(i);
        }

        var oTab5 = document.getElementById("tag5");
        var nodeList5 = oTab5.children;
        for (var i = 0; i < nodeList5.length; i++) {
            (function (j) {
                nodeList5[j].addEventListener("click", function (e) {
                    console.log(e.target.innerText)
                    funnel(e.target.innerText)
                }, false);
            })(i);
        }

        // var oTab6 = document.getElementById("tag6");
        // var nodeList6 = oTab6.children;
        // for (var i = 0; i < nodeList6.length; i++) {
        //     (function (j) {
        //         nodeList6[j].addEventListener("click", function (e) {
        //             console.log(e.target.innerText)
        //             wordcloud(e.target.innerText)
        //         }, false);
        //     })(i);
        // }

        function funnel(lang) {
            var funnel = echarts.init(document.getElementById('funnel'), 'white', { renderer: 'canvas' });
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/funnelChart",
                data: "lang=" + encodeURIComponent(lang),       //参数中有特殊字符的要用encodeURIComponent
                dataType: 'json',
                success: function (result) {
                    funnel.setOption(result);
                }
            });
        };

        // function wordcloud(lang) {
        //     var wordcloud = echarts.init(document.getElementById('wordcloud'), 'white', { renderer: 'canvas' });
        //     $.ajax({
        //         type: "POST",
        //         url: "http://127.0.0.1:5000/wordcloudChart",
        //         data: "lang=" + encodeURIComponent(lang),       //参数中有特殊字符的要用encodeURIComponent
        //         dataType: 'json',
        //         success: function (result) {
        //             wordcloud.setOption(result);
        //         }
        //     });
        // }

        function LZX1(lang) {
            var chart = echarts.init(document.getElementById('LZX1'), 'white', { renderer: 'canvas' });
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/LZX1",
                data: "lang=" + encodeURIComponent(lang),       //参数中有特殊字符的要用encodeURIComponent
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }

        function load() {
            funnel("C#")//岗位热门词
            LZX1("C#")//行业和区域
        }
    </script>
</body>

</html>