<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>福利相关</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        body {
            color: black;
        }
    </style>
</head>
<body onload="load()">
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/img/Logo_black.svg" width="168" height="35" class="d-inline-block align-top" alt="jobSpider">
        </a>
        <div class="link_group">
            <a href="{{ url_for('salary') }}" class="nav_link">薪资</a>
            <a href="{{ url_for('district') }}" class="nav_link">地域</a>
            <a href="{{ url_for('industry') }}" class="nav_link">行业</a>
            <a href="{{ url_for('skills') }}" class="nav_link">技能</a>
            <a href="{{ url_for('diploma') }}" class="nav_link">学历</a>
            <a href="{{ url_for('welfare') }}" class="nav_link active">福利</a>
        </div>
    </nav>
    <div class="content">
        <div class="hero">
            <h1 class="font-type-blue">print<span class="font-black">(</span>'福利相关'<span class="font-black">)</span></h1>
            <div class="text">
                <p>除了薪资之外，雇主的福利待遇也是求职者所关注的另一重要指标。以下是从发布职位中提取出来的十大福利待遇关键词。</p>
            </div>
        </div>
        <div class="section">
            <h3>十大语言福利关系图</h3>
            <div class="figure">
                <div id="LZX2" class="chart"></div>
                <div class="caption">
                    <p class="text">hello, world!</p>
                </div>
            </div>
        </div>
    </div>


    <script>
        function LZX2() {
            var LZX2 = echarts.init(document.getElementById('LZX2'), 'white', { renderer: 'canvas' });
            $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:5000/LZX2",     
                    dataType: 'json',
                    success: function (result) {
                        LZX2.setOption(result);
                    }
            });
        };
        function load() {
            LZX2()
        }
    </script>
</body>
</html>