<html>

<head>
    <meta charset="UTF-8">
    <title>薪资相关</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" href="css/styles.css"> 
    <!-- ../static/ -->
    <style>
        body {
            color: black;
        }
    </style>
</head>

<body onload="load()">
    <!--onload事件-->
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="">
            <img src="/img/Logo_black.svg" width="168" height="35" class="d-inline-block align-top" alt="jobSpider">
        </a>
    </nav>
    <div class="content">
        <div class="hero">
            <h1 class="font-type-blue">print<span class="font-black">(</span>'薪资相关'<span class="font-black">)</span></h1>
            <div class="text">
                <p>薪资作为求职者的一个重要衡量指标，自然是本报告的重点关注。以下是十种不同编程语言所属行业、所需经验、学历，以及所在城市和薪资水平的关系图。</p>
                <p>轻按标签即可阅读所属标签图表。首次加载速度会较长，请耐心等待。</p>
                <!-- <p>*本报告所有数据来自上述招聘网站的公开数据，与真实的市场需求有可能存在偏差，结论仅供参考。</p> -->
            </div>
        </div>
        <div class="section">
            <h3>编程语言与、岗位数量和工资关系图</h3>
            <ul class="tags" id="tag1">
                <div class="btn_row">
                    <li><a href="###" class="button">C#</a></li>
                    <li><a href="###" class="button">C++</a></li>
                    <li><a href="###" class="button">HTML+CSS</a></li>
                    <li><a href="###" class="button">Java</a></li>
                    <li><a href="###" class="button">JavaScript</a></li>
                </div>
                <div class="btn_row">
                    <li><a href="###" class="button">PHP</a></li>
                    <li><a href="###" class="button">Python</a></li>
                    <li><a href="###" class="button">Ruby</a></li>
                    <li><a href="###" class="button">Swift</a></li>
                    <li><a href="###" class="button">TypeScript</a></li>
                 </div>
            </ul>
            <div class="figure">
                <div id="ZQF1" class="chart"></div>
                <div class="caption">
                    <p class="text">hello, world!</p>
                </div>
            </div>
        </div>

        <div class="section">
            <h3>编程语言、工作经验与工资关系图</h3>
            <ul class="tags" id="tag3">
                <div class="btn_row">
                    <li><a href="###" class="button">C#</a></li>
                    <li><a href="###" class="button">C++</a></li>
                    <li><a href="###" class="button">HTML+CSS</a></li>
                    <li><a href="###" class="button">Java</a></li>
                    <li><a href="###" class="button">JavaScript</a></li>
                </div>
                <div class="btn_row">
                    <li><a href="###" class="button">PHP</a></li>
                    <li><a href="###" class="button">Python</a></li>
                    <li><a href="###" class="button">Ruby</a></li>
                    <li><a href="###" class="button">Swift</a></li>
                    <li><a href="###" class="button">TypeScript</a></li>
                </div>
            </ul>
            <div id="LSQ1" style="width:1000px; height:500px"></div>
        </div>

        <div class="section">
            <h3>编程语言、学历与工资关系图</h3>
            <ul class="tags" id="tag4">
                <div class="btn_row">
                    <li><a href="###" class="button">C#</a></li>
                    <li><a href="###" class="button">C++</a></li>
                    <li><a href="###" class="button">HTML+CSS</a></li>
                    <li><a href="###" class="button">Java</a></li>
                    <li><a href="###" class="button">JavaScript</a></li>
                </div>
                <div class="btn_row">
                    <li><a href="###" class="button">PHP</a></li>
                    <li><a href="###" class="button">Python</a></li>
                    <li><a href="###" class="button">Ruby</a></li>
                    <li><a href="###" class="button">Swift</a></li>
                    <li><a href="###" class="button">TypeScript</a></li>
                </div>
            </ul>
            <div id="LSQ2" style="width:1000px; height:500px"></div>
        </div>

        <div class="section">
            <h3> 北上广深、编程语言与和工资关系图(单选)</h3>
            <div id="ZQF2" style="width:1000px; height:500px"></div>
        </div>

        <div class="section">
            <h3>北上广深各区技能相关岗位平均工资</h3>
            <ul class="tags" id="tag2">
                <li><a href="###" class="button">北京</a></li>
                <li><a href="###" class="button">上海</a></li>
                <li><a href="###" class="button">广州</a></li>
                <li><a href="###" class="button">深圳</a></li>
            </ul>
            <div id="ZQF3" style="width:1000px; height:500px"></div>
        </div>
    </div>
    <div class="next_chapter">
        <a href="{{ url_for('district') }}">
            <h3 class="chap_overtext font-white">下一部分</h3>
            <h2 class="chap_title font-type-blue">print<span class="font-white">(</span>'地域相关'<span class="font-white">)</span></h2>
        </a>
    </div>

    <script>
        var oTab1 = document.getElementById("tag1");
        var nodeList1 = oTab1.children;
        for (var i = 0; i < nodeList1.length; i++) {
            (function (j) {
                nodeList1[j].addEventListener("click", function (e) {
                    console.log(e.target.innerText)
                    ZQF1(e.target.innerText)

                }, false);
            })(i);
        }

        var oTab2 = document.getElementById("tag2");
        var nodeList2 = oTab2.children;
        for (var i = 0; i < nodeList2.length; i++) {
            (function (j) {
                nodeList2[j].addEventListener("click", function (e) {
                    console.log(e.target.innerText)
                    ZQF3(e.target.innerText)
                }, false);
            })(i);
        }


        var oTab3 = document.getElementById("tag3");
        var nodeList3 = oTab3.children;
        for (var i = 0; i < nodeList3.length; i++) {
            (function (j) {
                nodeList3[j].addEventListener("click", function (e) {
                    console.log(e.target.innerText)
                    LSQ1(e.target.innerText)
                }, false);
            })(i);
        }
        var oTab4 = document.getElementById("tag4");
        var nodeList4 = oTab4.children;
        for (var i = 0; i < nodeList4.length; i++) {
            (function (j) {
                nodeList4[j].addEventListener("click", function (e) {
                    console.log(e.target.innerText)
                    LSQ2(e.target.innerText)
                }, false);
            })(i);
        }

        function ZQF1(lang) {
            var chart = echarts.init(document.getElementById('ZQF1'), 'white', { renderer: 'canvas' });
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/ZQF1",
                data: "lang=" + encodeURIComponent(lang),       //参数中有特殊字符的要用encodeURIComponent
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }

        function ZQF2() {
            var chart = echarts.init(document.getElementById('ZQF2'), 'white', { renderer: 'canvas' });
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/ZQF2",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        };

        function ZQF3(city) {
            var chart = echarts.init(document.getElementById('ZQF3'), 'white', { renderer: 'canvas' });
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/ZQF3",
                data: "city=" + encodeURIComponent(city),
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        };

        function LSQ1(lang) {
            var chart = echarts.init(document.getElementById('LSQ1'), 'white', { renderer: 'canvas' });
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/LSQ1",
                data: "lang=" + encodeURIComponent(lang),
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        };

        function LSQ2(lang) {
            var chart = echarts.init(document.getElementById('LSQ2'), 'white', { renderer: 'canvas' });
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/LSQ2",
                data: "lang=" + encodeURIComponent(lang),
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        };

        function load() {

            ZQF1("C#")    //语言与岗位个数/与工资 
            ZQF2()    //城市/与各语言/与工资
            LSQ2("C#")//学历与工资
            LSQ1("C#")   //工资与经验
            ZQF3("北京")//行业/区域

        }
    </script>
</body>

</html>